#
# SPDX-License-Identifier: Apache-2.0
#

*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# Compiled TypeScript files
dist
.env

*.crt
*.csr
*.key

*.pem